<div class="detail-wrapper" *ngIf="!loading && patient">

    <mat-card class="profile-card">

        <div class="header">
            <div class="avatar">
                {{ patient.fullName?.charAt(0) }}
            </div>

            <div class="info">
                <h2>{{ patient.fullName }}</h2>
                <p>{{ patient.email }}</p>
                <span class="status">Paciente Activo</span>
            </div>

            <button mat-raised-button color="primary">
                ➕ Asignar Sesión
            </button>
        </div>

    </mat-card>

    <mat-card class="history-card">
        <h3>Historial de Sesiones</h3>

        <div class="empty">
            Aún no tiene sesiones registradas.
        </div>
    </mat-card>

</div>